*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  
}

.topnav {
    border-bottom: solid;
    border-bottom-width:thick ;
    margin-left: 300px;
    margin-right: 100px;
    padding: 10px;
    word-spacing: 30px;
    background-color: white;
    text-decoration: none;
    color: Black
  }

footer {
  background-color: chocolate;
}

h1{
  font-size: 60px;
}

.u{
  
  border-bottom: solid;
  border-bottom-width:thick ;
  margin-left: 300px;
  margin-top: 140px;
  width: 1200px;
}

.rightpot{
  
  margin-right: 140px;
  
  float: right;
  
}

.leftpot{
  
  margin-left: 310px;
  margin-top: 130px;
}

.banner{
  margin-top: 110px;
  
}

.firstpara{
  text-size-adjust: 20;
  margin-left: 350px;
  margin-top: 100px;
  
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}
