*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

nav {
    word-spacing: 30px;
    background-color: white;
    text-decoration: none;
    color: Black
  }

.logo {
  
}






