*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

nav {
    padding: 100px;
    word-spacing: 30px;
    background-color: white;
    text-decoration: none;
    color: Black
  }

.u{
  
  border-bottom: solid;
  border-bottom-width:thick ;
  margin: 140px;
  width: 500px;
}

.rightpot{
  margin-right: auto;
  
}

.leftpot{
  
  margin-left: auto;
}




